@import '@arcgis/core/assets/esri/themes/light/main.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#mapDatePicker {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%);
}

.esri-compass {
  position: absolute;
  width: 50px;
  height: 50px;
}

.esri-zoom {
  position: absolute;
  right: 24px;
  bottom: 85px;
}

.esri-locate {
  position: absolute;
  right: 24px;
  bottom: 153px;
}

#basemapToggleDiv {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 50;
}

.grid-nav {
  display: grid;
  grid-template-columns: 300px 50px 300px;
  margin-bottom: 0.5rem;
  column-gap: 2px;
  row-gap: 7px;
}

.nmapactive-button {
  justify-self: center;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

@media screen and (max-width: 480px) {
  .grid-nav {
    display: grid;
    grid-template-columns: 130px 40px 130px;
  }

  #mapDatePicker {
    left: 42.1%;
  }
}
